{% extends "_template.html" %}

{% block title %}RabbitHole | Community{% endblock %}

{% block body %}
    <!-- <style>
        .profile {
            height: 55px;
            width: auto;
        }
        .container {
            max-height: 600px !important;
            min-width: 55% !important;
        }

        .container.loggedin {
            max-height: 400px !important;
        }

        .container.community {
            max-height: 300px !important;
        }
    </style> -->

    <style>
        .profile {
            height: 70px;
            width: 70px;
        }
        body {
          background-color: #ffffff;
          font-family: Arial, sans-serif;
          color: #51b178;
        }
      
        .navbar {
          background-color: #ffffff;
        }
      
        .navbar-brand,
        .nav-link {
          color: #51b178;
          font-size: 1.5em;
          font-weight: bold;
        }
      
        .navbar-brand img {
          height: 115px;
          width: 115px;
        }
      
        .container {
          max-height: 600px;
          min-width: 55%;
        }
      
        h1 {
          margin-bottom: 30px;
          font-weight: bold;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          color: #51b178;
        }
      
        .lead {
          font-size: 1.25em;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          margin-bottom: 30px;
          color: #ffffff;
          background-color: #51b178;
          padding: 10px;
          display: inline-block;
          border-radius: 20px;
        }
      
        .btn-primary {
          background-color: #90ee90;
          border-color: #90ee90;
          color: #000000;
        }
      
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #f5f5dc;
          color: #000000;
          text-align: center;
          padding: 10px 0;
        }
        .space {
          margin-right: 10px;
      
          padding: 10px 0;
        }
        .container.text-center {
          margin-top: 0;
        }
      </style>

    {% if loggedIn %}
        {% if user.communities|length > 0 %}
        <h1 class="text-center">Your Communities</h1>
        <hr>
        <div class="container community border border-3 overflow-auto text-center">
            {% for community in user.communities %}
                <div class="d-flex flex-nowrap justify-content-between p-3 align-items-center">
                    <div>
                        <img class="profile float-left mr-3 rounded-circle border border-3" src="../rabbithole/static/images/{{ community.pfpic }}">
                    </div>
                    <h2 class="mr-5">{{ community.name }}</h2>
                    <h2 class="mr-5">{{ community.subject }}</h2>
                    <div class="d-flex">
                        <a href="/rh/{{ community.name }}"><button class="btn btn-primary mr-1">VIEW</button></a>
                        {% if user.id == community.owner_id %}
                            <form action="/communities/delete/{{ community.id }}" method="POST">
                                <button type="submit" class="btn btn-danger">DELETE</button>
                            </form>
                        {% else %}
                            <form action="/communities/remove/{{ community.id }}" method="POST">
                                <button type="submit" class="btn btn-warning">REMOVE</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
        <div class="w-25 d-flex flex-column m-auto inline">
            <a href="/communities/create"><button class="btn btn-primary w-100">Create a Community +</button></a>
            <!-- <a href="\create_community.html"><button class="btn btn-primary w-100">Create a Community +</button></a> 
            Why don't we directly link?-->
        </div>
        <hr>
        <h1 class="text-center">Communities</h1>
        <div class="container loggedin border border-3 overflow-auto text-center">
            <div class="d-flex flex-nowrap justify-content-between align-items-center p-3">
                <h1></h1>
                <p class="h3">Name</p>
                <p class="h3">Subject</p>
                <h1></h1>
            </div>
            <hr>
            {% for community in communities %}
                {% if community not in user.communities %}
                    <div class="d-flex flex-nowrap justify-content-between align-items-center p-3">
                        <div>
                            <img class="profile float-left mr-3 rounded-circle border border-3" src="../rabbithole/static/images/{{ community.pfpic }}">
                        </div>
                        <h2 class="mr-5">{{ community.name }}</h2>
                        <h2 class="mr-5">{{ community.subject }}</h2>
                        <div class="d-flex">
                            <a href="/rh/{{ community.name }}"><button class="btn btn-primary mr-2">VIEW</button></a>
                            <form action="/communities/join/{{ community.id }}" method="POST">
                                <button class="btn btn-primary">JOIN</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <hr>
        <h1 class="text-center">Browse Communities</h1>
        <p class="text-center">You must be logged in to post to a community.</p>
        <hr>
        <div class="container border border-3 overflow-auto text-center">
            <div class="d-flex flex-nowrap justify-content-between align-items-center p-3">
                <h1></h1>
                <p class="h3">Name</p>
                <p class="h3">Subject</p>
                <h1></h1>
            </div>
            <hr>
            {% for community in communities %}
            <div class="d-flex flex-nowrap justify-content-between align-items-center p-3">
                {% if community.pfpic == None %}
                    <img class="profile float-left mr-3 rounded-circle border border-3" src="rabbithole/static/default.png"/>
                {% else %}
                    <img class="profile float-left mr-3 rounded-circle border border-3" src="rabbithole/static/{{ community.pfpic }}">
                {% endif%}
                <h2 class="mr-5">{{ community.name }}</h2>
                <h2 class="mr-5 mb-5">{{ community.subject }}</h2>
                <div>
                    <a href="/rh/{{ community.name }}"><button class="btn btn-primary">VIEW</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}