{% extends "_template.html" %}

{% block title %}RabbitHole | Create a Community{% endblock%}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
      background-color: #ffffff;
      font-family: Arial, sans-serif;
      color: #51b178;
    }
  
    .navbar {
      background-color: #ffffff;
    }
  
    .navbar-brand,
    .nav-link {
      color: #51b178;
      font-size: 1.5em;
      font-weight: bold;
    }
  
    .navbar-brand img {
      height: 115px;
      width: 115px;
    }
  
    .container {
      max-width: 600px;
      margin-top: 100px;
    }
  
    h1 {
      font-size: 5em;
      margin-bottom: 30px;
      font-weight: bold;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #51b178;
    }
  
    .lead {
      font-size: 1.25em;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      margin-bottom: 30px;
      color: #ffffff;
      background-color: #51b178;
      padding: 10px;
      display: inline-block;
      border-radius: 20px;
    }
  
    .btn-primary {
      background-color: #90ee90;
      border-color: #90ee90;
      color: #000000;
    }
  
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5dc;
      color: #000000;
      text-align: center;
      padding: 10px 0;
    }
    .space {
      margin-right: 10px;
  
      padding: 10px 0;
    }
    .container.text-center {
      margin-top: 0;
    }

    .preview {
      height: 150px;
      width: 150px;
  }
  </style>
<h1 class="text-center">Create a Community</h1>
<hr>
<div class="container">
    <form action="/communities/create" method="POST" enctype="multipart/form-data">
        <div class="d-flex mb-3">
            <label for="name" class="h3 mr-3">Name: </label>
            <input type="text" id="name" name="name" class="form-control"/>
        </div>
        <div class="d-flex mb-5"> 
            <p class="h3 mr-3">Subject:</p>
            <select class="form-select form-control" id="subject" name="subject" required>
                <option selected disabled>Choose a Subject</option>
                <option value="1">Business</option>
                <option value="2">School</option>
                <option value="3">Politics</option>
                <option value="4">Sports</option>
                <option value="5">Relationships</option>
                <option value="6">Miscellaneous</option>
            </select>
        </div>
        <div class="d-flex mb-5 align-items-center justify-content-center">
          <p class="h3 mr-3">Upload Image: </p>
          <input type="file" name="image" id="image" />
        </div>
        <div class="d-flex align-items-center justify-content-center mb-5">
          <p class="h3 mr-3">Preview: </p>
          <img id="community-image" src="../rabbithole/static/images/default.png" alt="image" class="preview border border-1 rounded-circle"/>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">CREATE</button>
        </div>
    </form>
</div>
<script src="../rabbithole/static/js/preview_image_community.js" defer></script>
{% endblock%}