{% extends "_template.html" %}

{% block title %}RabbitHole | Home{% endblock %}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
      background-color: #ffffff;
      font-family: Arial, sans-serif;
      color: #51b178;
    }
  
    .navbar {
      background-color: #ffffff;
    }
  
    .navbar-brand,
    .nav-link {
      color: #51b178;
      font-size: 1.5em;
      font-weight: bold;
    }
  
    .navbar-brand img {
      height: 115px;
      width: 115px;
    }
  
    .container {
      max-width: 600px;
      margin-top: 100px;
    }
  
    h1 {
      font-size: 5em;
      margin-bottom: 30px;
      font-weight: bold;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #51b178;
    }
  
    .lead {
      font-size: 1.25em;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      margin-bottom: 30px;
      color: #ffffff;
      background-color: #51b178;
      padding: 10px;
      display: inline-block;
      border-radius: 20px;
    }
  
    .btn-primary {
      background-color: #90ee90;
      border-color: #90ee90;
      color: #000000;
    }
  
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5dc;
      color: #000000;
      text-align: center;
      padding: 10px 0;
    }
    .space {
      margin-right: 10px;
  
      padding: 10px 0;
    }
    .container.text-center {
      margin-top: 0;
    }
  </style>
<h1 class="text-center">Welcome {{ username }},</h1>
<div class="container d-flex flex-column">
    <a href="/post/create"><button class="btn btn-primary w-100 mb-4">Add a Post +</button></a>
    <p style="font-size: 25px;" class="text-center">Feed</p>
    <div class="container ">
        
    </div>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-success btn-rounded ml-2 m-3">Logout</button>
    </form>
</div>
{% endblock %}