{% extends "_template.html" %} {% block title %}Login{% endblock %} {% block
body %}
<div style="text-align: center; margin-top: 100px">
  <form method="post" action="/login">
    <label for="username_email">Username/Email:</label>
    <input
      type="text"
      id="username_email"
      name="username_email"
      required
    /><br /><br />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /><br /><br />

    <input type="submit" value="Login" />
  </form>
</div>
{% endblock %}
