{% extends "_template.html" %} 

{% block title %}RabbitHole | Profile{% endblock %} 
{% block body %}
<style>
  body {
    font-family: "Arial", sans-serif;
  }

  h1,
  h2 {
    color: #333;
  }

  img {
    max-width: 200px;
    border-radius: 50%;
  }

  p {
    color: #555;
    line-height: 1.5;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  
</style>
<div class="container">
  <h1>{{ user.username }}'s Profile</h1>

  <img
    src="/rabbithole/static/default.png"
    alt="Default Profile Picture"
  />

  <h2>Bio</h2>
  <p>{{ user.bio }}</p>

  <h2>Edit Bio</h2>
  <form method="POST">
    <label for="bio">Add to your bio:</label>
    <textarea id="bio" name="bio" rows="4" cols="50">{{ user.bio }}</textarea>
    <br />
    <input type="submit" value="Update Bio" />
  </form>

  <h2>Edit Username</h2>
<form method="POST" action="/profile/edit_username">
    <label for="username">New Username:</label>
    <input type="text" id="username" name="username" required>
    <br />
    <br />
    <input type="submit" value="Update Username" />
</form>

</div>



{% endblock %}
