{% extends "_template.html" %} {% block title %}RabbitHole | Profile{% endblock
  %} {% block body %}
  <style>
    body {
      font-family: "Arial", sans-serif;
    }
  
    h1 {
      margin-bottom: 30px;
      font-weight: bold;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #51b178;
    }
  
    img {
      max-width: 200px;
      border-radius: 50%;
    }
  
    p {
      color: #555;
      line-height: 1.5;
    }
  
    form {
      margin-top: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    textarea {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }
  
    input[type="submit"] {
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  
    #drop-area {
      border: 2px dashed #ccc;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }
  
    .user-image {
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  
  </style>
  <div class="container">
    <h1 class="text-center">My Profile</h1>
    <div class="d-flex align-items-center justify-content-center">
      {% if not user.pfpic %}
      <img id="photo" src="../../../rabbithole/static/images/default.png" alt="default image" class="mb-3 border user-image"/>
      {% else %}
      <img id="photo" src="../../../rabbithole/static/images/{{ user.pfpic }}" class="border user-image" alt="user pfpic"/>
      {% endif %}
    </div>
    <div>
      <form id="profile-image-form" action="/profile/edit_image" method="POST" enctype=multipart/form-data class="d-flex justify-content-center">
        <button type="button" id="changeBtn" class="btn btn-primary">Change</button>
        <input id="inputSelect" type="file" class="btn btn-primary" hidden name="image-input" />
    </form>
    </div>
    <div class="border p-5 mt-3 w-75 mx-auto d-flex flex-column">
      <div class="text-center">
        <h1>About</h1>
        {% if not user.bio %}
        <p class="mt-3 w-50 mx-auto">No bio yet.</p>
        {% else %}
        <p class="mt-3 w-50 mx-auto">{{ user.bio }}</p>
        {% endif %}
      </div>
      <div class="ml-3">
        <h3>Personal Information: </h3>
        <h6>Username: {{ user.username }}</h6>
        <h6>Email: {{ user.email }}</h6>
      </div>
      <hr class="w-75">
      <div class="align-self-center">
        <h1>Update Information</h1>
        <form method="POST" action="/profile/edit_username">
            <label for="username">New Username:</label>
            <div class="d-flex">
              <input type="text" id="username" name="username" required class="form-control">
              <input type="submit" value="Update Username" class="ml-2" />
            </div>
        </form>
        <form action="/profile/edit_bio" method="POST">
          <label for="bio" class="mt-3">Add to Bio:</label>
          <div class="d-flex">
            <textarea id="bio" name="bio" class="form-control" required class="form-control"></textarea>
            <input type="submit" value="Add to Bio" class="ml-2" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <form method="POST" action="/logout" class="text-center mt-5">
    <input type="submit" value="Logout" class="btn btn-primary"/>
  </form>
  <form method="POST" action="/profile/delete" class="text-center mt-5" onsubmit="return confirm('Are you sure you want to delete your profile? This action cannot be undone.');">
    <input type="submit" value="Delete Profile" class="btn btn-danger"/>
  </form>
  <script>
  
    let input = document.getElementById('inputSelect')
    let changeBtn = document.getElementById('changeBtn')
  
    const previewPhoto = () => {
      const file = input.files;
      if (file) {
          const fileReader = new FileReader();
          const preview = document.getElementById('photo');
          fileReader.onload = function (event) {
            preview.setAttribute('src', event.target.result);
          }
          console.log(preview.src)
          fileReader.readAsDataURL(file[0]);
      }
    }
  
    input.addEventListener('change', () => {
      previewPhoto()
  
      let form = document.getElementById('profile-image-form')
      let saveBtn = document.createElement('button')
      saveBtn.type = 'submit'
      saveBtn.classList.add('btn')
      saveBtn.classList.add('btn-primary')
      saveBtn.classList.add('ml-2')
      saveBtn.textContent = 'Save'
  
      form.appendChild(saveBtn)
    })
  
    changeBtn.addEventListener('click', (e => {
      input.click()
    }))
  </script>
  {% endblock %}
  