{% extends "_template.html" %} {% block title %} {% endblock %} {% block body %}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #51b178;
  }

  .navbar {
    background-color: #ffffff;
  }

  .navbar-brand,
  .nav-link {
    color: #51b178;
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar-brand img {
    height: 115px;
    width: 115px;
  }

  .container {
    max-width: 600px;
    margin-top: 100px;
  }

  h1 {
    font-size: 5em;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #51b178;
  }

  .lead {
    font-size: 1.25em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #51b178;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
  }

  .btn-primary {
    background-color: #90ee90;
    border-color: #90ee90;
    color: #000000;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5dc;
    color: #000000;
    text-align: center;
    padding: 10px 0;
  }
  .space {
    margin-right: 10px;

    padding: 10px 0;
  }
  .container.text-center {
    margin-top: 0;
  }
</style>
<div style="text-align: center; margin-top: 100px">
  <div class="container d-flex flex-column">
    <h2>User Registration</h2>
    {% if error %}
    <p class="bg-danger text-light w-25 mx-auto">{{ error }}</p>
    {% endif %}
    <form id="userForm" action="/signup" method="POST">
      <div class="d-flex justify-content-center align-items-center">
        <label for="username" class="mr-2">Username:</label>
        <input type="text" id="username" name="username" min="2" max="15" required class="w-50 mb-2 form-control" /><br />
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <label for="email" class="mr-2">Email:</label>
        <input type="email" id="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="w-50 form-control mb-2" title="Please enter a valid email address." />
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <label for="password" class="mr-2">Password:</label>
        <input type="password" id="password" name="password" minlength="8" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" class="w-50 mb-2 form-control" title="Password must be at least 8 characters long and include at least one letter and one number."/><br />
      </div>
      <p class="w-50 mx-auto">Password must be at least 8 characters long and include at least one letter and one number.</p>
      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
  </div>
</div>
{% endblock %}
