{% extends "_template.html" %}

{% block title %}RabbitHole | {{ community.name }}{% endblock %}

{% block body %}
    <style>
        .post-image {
            height: 400px;
            width: 100%;
        }

        .big-profile {
            height: 150px;
            width: 150px;
        }

        #modal {
            min-height: 350px;
            width: 525px;
            left: 35%;
            top: 20%;
            background-color: white;
            z-index: 2;
        }

        .overlay {
            opacity: 15%;
        }

        .modal-open {
            overflow-y: hidden;
        }

    </style>
    <div id="body" class="container">
        <div class="text-center mb-5 d-flex flex-column align-items-center">
            <img class="big-profile border border-1 rounded-circle mb-2" src="../rabbithole/static/images/{{ community.pfpic }}" alt="community image"/>
            <div>
                <h1>{{ community.name }}</h1>
            </div>
        </div>
        <hr>
        {% if showPostBtn %}
        <a href="/rh/{{ community.name }}/create"><button id="addPost" class="btn btn-primary w-100 mb-4">Add a Post +</button></a>
        {% else %}
        <h4 class="text-center">Join this community to add a post!</h4>
        {% endif %}
        <hr>
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div class="d-flex align-items-center flex-column p-2 border border-1 mb-2">
                    <div class="d-flex justify-content-between w-100 mb-3">
                        <div>
                            <h3 class>{{ post.title }}</h3>
                        </div>
                        <div class="mt-2">
                            <h5 class="text-right">@{{ post.owner }}</h5>
                            <h6 class="text-right">{{ post.time_created }}</h6>
                        </div>
                    </div>
                    {% if post.image != '' %}
                    <img class="post-image border border-1" src="../rabbithole/static/images/{{ post.image }}" alt="post image"/>
                    {% else %}
                    <!-- insert data here -->
                    <hr class="w-100">
                    {% endif %}
                    <p class="align-self-center text-center mt-2 text-break">{{ post.content }}</p>
                    {% if user.username == post.owner %}
                    <div class="align-self-end d-flex">
                        <form id="edit-form" action="/rh/{{ post.community }}/{{ post.id }}/edit" method="post">
                            <!-- <input type="submit" class="edit btn bg-primary mr-2 text-light" value="Edit"/> -->
                            <button type="button" class="edit btn bg-primary mr-2 text-light">Edit</button>
                        </form>
                        <form action="/rh/{{ post.community }}/{{ post.id }}/delete" method="POST">
                            <input type="submit" class="btn delete btn-danger" value="Delete"/>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script src="../rabbithole/static/js/edit_post.js" defer></script>
{% endblock %}